USE [master]
GO
/****** Object:  Database [hektor-flow]    Script Date: 23/03/2017 13:36:56 ******/
CREATE DATABASE [hektor-flow]
GO
USE [hektor-flow]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_GERAR_ID_BUSCA]    Script Date: 09/01/2019 01:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNC_GERAR_ID_BUSCA]() RETURNS CHAR(9)
AS
BEGIN
	DECLARE @maxDataHora DATETIME
	DECLARE @anoUltimoPreenchimento INT
	DECLARE @mesUltimoPreenchimento INT
	DECLARE @anoAtual INT
	DECLARE @mesAtual INT
	DECLARE @seq char(5)
	DECLARE @maxIdBusca char(9)

	SET @anoAtual = YEAR(GETDATE())
	SET @mesAtual = MONTH(GETDATE())

	SELECT TOP 1 @maxDataHora = DATA_HORA, @maxIdBusca = ID_BUSCA
		FROM TB_PREENCHIMENTO_FORMULARIO
		WHERE LEN(ID_BUSCA) = 9
			ORDER BY DATA_HORA DESC

	IF (@maxDataHora IS NULL OR @maxIdBusca IS NULL) BEGIN
		SET @anoUltimoPreenchimento = @anoAtual
		SET @mesUltimoPreenchimento = @mesAtual
		SET @seq = '00001'
	END	
	ELSE BEGIN
		SET @anoUltimoPreenchimento = YEAR(@maxDataHora)
		SET @mesUltimoPreenchimento = MONTH(@maxDataHora)

		IF (@anoAtual = @anoUltimoPreenchimento) BEGIN
			IF (@mesAtual = @mesUltimoPreenchimento) BEGIN
				SET @seq = RIGHT('00000' + CAST((CONVERT(INT,SUBSTRING(@maxIdBusca, 5, 8)) + 1) AS VARCHAR), 5)
			END
			ELSE BEGIN
				SET @mesUltimoPreenchimento = @mesAtual
				SET @seq = '00001'
			END
		END
		ELSE BEGIN
			SET @anoUltimoPreenchimento = @anoAtual
			SET @mesUltimoPreenchimento = @mesAtual
			SET @seq = '00001'
		END
	END

	RETURN SUBSTRING(CONVERT(VARCHAR, @anoUltimoPreenchimento), 3, 4) + RIGHT('00' + CAST(@mesUltimoPreenchimento AS VARCHAR), 2) + @seq
END
GO
/****** Object:  Table [dbo].[TB_ARQUIVO_TRAMITACAO]    Script Date: 09/01/2019 01:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ARQUIVO_TRAMITACAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[ARQUIVO] [varbinary](max) NOT NULL,
	[ID_TRAMITACAO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_COMPONENTE]    Script Date: 09/01/2019 01:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_COMPONENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[ORDEM] [int] NOT NULL,
	[OBRIGATORIEDADE] [bit] NOT NULL,
	[EXIBIR_NO_GRID] [bit] NOT NULL,
	[EXIBIR_NA_BUSCA_AVANCADA] [bit] NOT NULL,
	[CAIXA_ALTA] [bit] NOT NULL,
	[DESCRICAO] [varchar](50) NULL,
	[TAMANHO] [int] NULL,
	[ID_TIPO_COMPONENTE] [int] NOT NULL,
	[ID_TIPO_VALOR_COMPONENTE] [int] NOT NULL,
	[ID_FORMULARIO] [int] NOT NULL,
	[ID_TIPO_LISTA] [int] NULL,
	[ID_MASCARA_COMPONENTE] [int] NULL,
	[ID_VALIDADOR_COMPONENTE] [int] NULL,
	[EXIBIR_NO_LANCAMENTO] [bit] NOT NULL,
	[EXIBIR_NO_ATENDIMENTO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_FLUXO_STATUS]    Script Date: 09/01/2019 01:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_FLUXO_STATUS](
	[ID_STATUS_ORIGEM] [int] NOT NULL,
	[ID_STATUS_DESTINO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_STATUS_ORIGEM] ASC,
	[ID_STATUS_DESTINO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_FORMULARIO]    Script Date: 09/01/2019 01:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_FORMULARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[SIGLA] [varchar](4) NOT NULL,
	[ATIVO] [bit] NOT NULL,
	[OBRIGATORIEDADE_ANEXO] [bit] NOT NULL,
	[EXIBIR_TODOS] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_FUNCIONALIDADE]    Script Date: 09/01/2019 01:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_FUNCIONALIDADE](
	[CAMINHO] [varchar](200) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[NOME_MODULO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CAMINHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_GRUPO]    Script Date: 09/01/2019 01:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_GRUPO](
	[NOME] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_ITEM_LISTA]    Script Date: 09/01/2019 01:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ITEM_LISTA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[ID_TIPO_LISTA] [int] NOT NULL,
	[ID_PAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_MASCARA_COMPONENTE]    Script Date: 09/01/2019 01:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_MASCARA_COMPONENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_MODULO]    Script Date: 09/01/2019 01:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_MODULO](
	[NOME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PARAMETRO]    Script Date: 09/01/2019 01:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PARAMETRO](
	[NOME] [varchar](50) NOT NULL,
	[VALOR] [varchar](200) NOT NULL,
	[DESCRICAO] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[NOME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PERMISSAO_COMPONENTE]    Script Date: 09/01/2019 01:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PERMISSAO_COMPONENTE](
	[NOME_GRUPO] [varchar](200) NOT NULL,
	[ID_STATUS] [int] NOT NULL,
	[ID_COMPONENTE] [int] NOT NULL,
	[TIPO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOME_GRUPO] ASC,
	[ID_STATUS] ASC,
	[ID_COMPONENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PERMISSAO_EXIBICAO]    Script Date: 09/01/2019 01:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PERMISSAO_EXIBICAO](
	[NOME_GRUPO] [varchar](200) NOT NULL,
	[ID_FORMULARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOME_GRUPO] ASC,
	[ID_FORMULARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PERMISSAO_FUNCIONALIDADE]    Script Date: 09/01/2019 01:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PERMISSAO_FUNCIONALIDADE](
	[NOME_GRUPO] [varchar](200) NOT NULL,
	[CAMINHO_FUNCIONALIDADE] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOME_GRUPO] ASC,
	[CAMINHO_FUNCIONALIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PERMISSAO_STATUS]    Script Date: 09/01/2019 01:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PERMISSAO_STATUS](
	[NOME_GRUPO] [varchar](200) NOT NULL,
	[ID_STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOME_GRUPO] ASC,
	[ID_STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PREENCHIMENTO_FORMULARIO]    Script Date: 09/01/2019 01:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PREENCHIMENTO_FORMULARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME_RESPONSAVEL] [varchar](50) NULL,
	[NOME_RESPONSAVEL] [varchar](50) NULL,
	[DATA_HORA_RESPONSAVEL] [datetime] NULL,
	[USER_NAME_CRIADOR] [varchar](50) NOT NULL,
	[DATA_HORA] [datetime] NOT NULL,
	[ID_FORMULARIO] [int] NOT NULL,
	[ID_BUSCA] [char](9) NOT NULL,
	[NOME_CRIADOR] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_STATUS_FORMULARIO]    Script Date: 09/01/2019 01:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_STATUS_FORMULARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[INICIAL] [bit] NOT NULL,
	[RETORNO] [bit] NOT NULL,
	[ENVIAR_EMAIL] [bit] NOT NULL,
	[TITULO_EMAIL] [varchar](50) NULL,
	[CORPO_EMAIL] [varchar](200) NULL,
	[ID_FORMULARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TIPO_COMPONENTE]    Script Date: 09/01/2019 01:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TIPO_COMPONENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TIPO_LISTA]    Script Date: 09/01/2019 01:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TIPO_LISTA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[ID_PAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TIPO_VALOR_COMPONENTE]    Script Date: 09/01/2019 01:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TIPO_VALOR_COMPONENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TRAMITACAO]    Script Date: 09/01/2019 01:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TRAMITACAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME_RESPONSAVEL] [varchar](50) NOT NULL,
	[NOME_RESPONSAVEL] [varchar](50) NOT NULL,
	[DATA_HORA] [datetime] NOT NULL,
	[OBSERVACAO] [varchar](500) NULL,
	[ID_PREENCHIMENTO_FORMULARIO] [int] NOT NULL,
	[ID_STATUS_ORIGEM] [int] NULL,
	[ID_STATUS_DESTINO] [int] NOT NULL,
	[LOG_ALTERACAO_COMPONENTES] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_VALIDADOR_COMPONENTE]    Script Date: 09/01/2019 01:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_VALIDADOR_COMPONENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBR_COMPONENTE_PREENCHIMENTO_FORMULARIO]    Script Date: 09/01/2019 01:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBR_COMPONENTE_PREENCHIMENTO_FORMULARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME_RESPONSAVEL] [varchar](50) NOT NULL,
	[ID_COMPONENTE] [int] NOT NULL,
	[ID_PREENCHIMENTO_FORMULARIO] [int] NOT NULL,
	[ID_ITEM_LISTA] [int] NULL,
	[VALOR_VARCHAR] [varchar](max) NOT NULL,
	[VALOR_INT] [int] NULL,
	[VALOR_REAL] [real] NULL,
	[VALOR_DATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TB_COMPONENTE] ON 

INSERT [dbo].[TB_COMPONENTE] ([ID], [NOME], [ORDEM], [OBRIGATORIEDADE], [EXIBIR_NO_GRID], [EXIBIR_NA_BUSCA_AVANCADA], [CAIXA_ALTA], [DESCRICAO], [TAMANHO], [ID_TIPO_COMPONENTE], [ID_TIPO_VALOR_COMPONENTE], [ID_FORMULARIO], [ID_TIPO_LISTA], [ID_MASCARA_COMPONENTE], [ID_VALIDADOR_COMPONENTE], [EXIBIR_NO_LANCAMENTO], [EXIBIR_NO_ATENDIMENTO]) VALUES (1, N'Nome', 1, 1, 1, 1, 0, N'Informe o nome', 60, 1, 1, 1, NULL, NULL, NULL, 1, 1)
INSERT [dbo].[TB_COMPONENTE] ([ID], [NOME], [ORDEM], [OBRIGATORIEDADE], [EXIBIR_NO_GRID], [EXIBIR_NA_BUSCA_AVANCADA], [CAIXA_ALTA], [DESCRICAO], [TAMANHO], [ID_TIPO_COMPONENTE], [ID_TIPO_VALOR_COMPONENTE], [ID_FORMULARIO], [ID_TIPO_LISTA], [ID_MASCARA_COMPONENTE], [ID_VALIDADOR_COMPONENTE], [EXIBIR_NO_LANCAMENTO], [EXIBIR_NO_ATENDIMENTO]) VALUES (2, N'CPF', 2, 1, 1, 1, 0, N'Informe o CPF', 14, 1, 1, 1, NULL, 1, 1, 1, 1)
INSERT [dbo].[TB_COMPONENTE] ([ID], [NOME], [ORDEM], [OBRIGATORIEDADE], [EXIBIR_NO_GRID], [EXIBIR_NA_BUSCA_AVANCADA], [CAIXA_ALTA], [DESCRICAO], [TAMANHO], [ID_TIPO_COMPONENTE], [ID_TIPO_VALOR_COMPONENTE], [ID_FORMULARIO], [ID_TIPO_LISTA], [ID_MASCARA_COMPONENTE], [ID_VALIDADOR_COMPONENTE], [EXIBIR_NO_LANCAMENTO], [EXIBIR_NO_ATENDIMENTO]) VALUES (3, N'Data de Nascimento', 3, 1, 1, 1, 0, N'Informe a Data de Nascimento', 10, 1, 1, 1, NULL, 4, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[TB_COMPONENTE] OFF
INSERT [dbo].[TB_FLUXO_STATUS] ([ID_STATUS_ORIGEM], [ID_STATUS_DESTINO]) VALUES (1, 2)
INSERT [dbo].[TB_FLUXO_STATUS] ([ID_STATUS_ORIGEM], [ID_STATUS_DESTINO]) VALUES (2, 3)
INSERT [dbo].[TB_FLUXO_STATUS] ([ID_STATUS_ORIGEM], [ID_STATUS_DESTINO]) VALUES (2, 4)
SET IDENTITY_INSERT [dbo].[TB_FORMULARIO] ON 

INSERT [dbo].[TB_FORMULARIO] ([ID], [CODIGO], [NOME], [SIGLA], [ATIVO], [OBRIGATORIEDADE_ANEXO], [EXIBIR_TODOS]) VALUES (1, 1, N'Teste 01', N'T01', 1, 0, 0)
SET IDENTITY_INSERT [dbo].[TB_FORMULARIO] OFF
INSERT [dbo].[TB_FUNCIONALIDADE] ([CAMINHO], [NOME], [NOME_MODULO]) VALUES (N'BuscaAvancada/Generica', N'Busca Avançada (Genérica)', N'Busca Avançada')
INSERT [dbo].[TB_FUNCIONALIDADE] ([CAMINHO], [NOME], [NOME_MODULO]) VALUES (N'BuscaAvancada/Index', N'Busca Avançada (Específica)', N'Busca Avançada')
INSERT [dbo].[TB_FUNCIONALIDADE] ([CAMINHO], [NOME], [NOME_MODULO]) VALUES (N'Componentes/Index', N'Componentes', N'Configurações')
INSERT [dbo].[TB_GRUPO] ([NOME]) VALUES (N'Administrators')
SET IDENTITY_INSERT [dbo].[TB_ITEM_LISTA] ON 

INSERT [dbo].[TB_ITEM_LISTA] ([ID], [NOME], [ID_TIPO_LISTA], [ID_PAI]) VALUES (1, N'Jaraguá do Sul', 1, NULL)
INSERT [dbo].[TB_ITEM_LISTA] ([ID], [NOME], [ID_TIPO_LISTA], [ID_PAI]) VALUES (2, N'Blumenau', 1, NULL)
INSERT [dbo].[TB_ITEM_LISTA] ([ID], [NOME], [ID_TIPO_LISTA], [ID_PAI]) VALUES (3, N'Masculino', 3, NULL)
SET IDENTITY_INSERT [dbo].[TB_ITEM_LISTA] OFF
SET IDENTITY_INSERT [dbo].[TB_MASCARA_COMPONENTE] ON 

INSERT [dbo].[TB_MASCARA_COMPONENTE] ([ID], [CODIGO], [NOME]) VALUES (1, 1, N'CPF')
INSERT [dbo].[TB_MASCARA_COMPONENTE] ([ID], [CODIGO], [NOME]) VALUES (2, 2, N'CNPJ')
INSERT [dbo].[TB_MASCARA_COMPONENTE] ([ID], [CODIGO], [NOME]) VALUES (3, 3, N'CPF/CNPJ')
SET IDENTITY_INSERT [dbo].[TB_MASCARA_COMPONENTE] OFF
INSERT [dbo].[TB_MODULO] ([NOME]) VALUES (N'Atendimento')
INSERT [dbo].[TB_MODULO] ([NOME]) VALUES (N'Busca Avançada')
INSERT [dbo].[TB_MODULO] ([NOME]) VALUES (N'Configurações')
INSERT [dbo].[TB_PARAMETRO] ([NOME], [VALOR], [DESCRICAO]) VALUES (N'DADOS-CONEXAO-ACTIVE-DIRECTORY', N'influirserver01;administrator;NewP@ssw0rd2015', N'Dados (endereço;usuário;senha) necessários para a conexão via LDAP com o active directory')
INSERT [dbo].[TB_PARAMETRO] ([NOME], [VALOR], [DESCRICAO]) VALUES (N'DADOS-ENVIO-EMAIL', N'g300603sv028;25;_sharepoint;port21sharegb;csc@cencosud.com.br;;;N;UTF-8', N'Dados (servidor;porta;login;senha;emailOrigem;emailCopia;emailCopiaOculta;permitirSSL;encoding) para envio do email')
INSERT [dbo].[TB_PARAMETRO] ([NOME], [VALOR], [DESCRICAO]) VALUES (N'DOMINIO-AUTENTICACAO-ACTIVE-DIRECTORY', N'INFLUIR', N'Domínio utilizado para fazer a autenticação do usuário')
INSERT [dbo].[TB_PERMISSAO_COMPONENTE] ([NOME_GRUPO], [ID_STATUS], [ID_COMPONENTE], [TIPO]) VALUES (N'Administrators', 1, 1, 2)
INSERT [dbo].[TB_PERMISSAO_COMPONENTE] ([NOME_GRUPO], [ID_STATUS], [ID_COMPONENTE], [TIPO]) VALUES (N'Administrators', 1, 2, 2)
INSERT [dbo].[TB_PERMISSAO_COMPONENTE] ([NOME_GRUPO], [ID_STATUS], [ID_COMPONENTE], [TIPO]) VALUES (N'Administrators', 1, 3, 2)
INSERT [dbo].[TB_PERMISSAO_FUNCIONALIDADE] ([NOME_GRUPO], [CAMINHO_FUNCIONALIDADE]) VALUES (N'Administrators', N'BuscaAvancada/Generica')
INSERT [dbo].[TB_PERMISSAO_FUNCIONALIDADE] ([NOME_GRUPO], [CAMINHO_FUNCIONALIDADE]) VALUES (N'Administrators', N'BuscaAvancada/Index')
INSERT [dbo].[TB_PERMISSAO_FUNCIONALIDADE] ([NOME_GRUPO], [CAMINHO_FUNCIONALIDADE]) VALUES (N'Administrators', N'Componentes/Index')
INSERT [dbo].[TB_PERMISSAO_STATUS] ([NOME_GRUPO], [ID_STATUS]) VALUES (N'Administrators', 1)
INSERT [dbo].[TB_PERMISSAO_STATUS] ([NOME_GRUPO], [ID_STATUS]) VALUES (N'Administrators', 2)
INSERT [dbo].[TB_PERMISSAO_STATUS] ([NOME_GRUPO], [ID_STATUS]) VALUES (N'Administrators', 3)
SET IDENTITY_INSERT [dbo].[TB_PREENCHIMENTO_FORMULARIO] ON 

INSERT [dbo].[TB_PREENCHIMENTO_FORMULARIO] ([ID], [USER_NAME_RESPONSAVEL], [NOME_RESPONSAVEL], [DATA_HORA_RESPONSAVEL], [USER_NAME_CRIADOR], [DATA_HORA], [ID_FORMULARIO], [ID_BUSCA], [NOME_CRIADOR]) VALUES (1, NULL, NULL, NULL, N'FIXO', CAST(N'2019-01-09T00:17:32.430' AS DateTime), 1, N'190100001', N'Fixo da Silva')
INSERT [dbo].[TB_PREENCHIMENTO_FORMULARIO] ([ID], [USER_NAME_RESPONSAVEL], [NOME_RESPONSAVEL], [DATA_HORA_RESPONSAVEL], [USER_NAME_CRIADOR], [DATA_HORA], [ID_FORMULARIO], [ID_BUSCA], [NOME_CRIADOR]) VALUES (2, NULL, NULL, NULL, N'FIXO', CAST(N'2019-01-09T00:19:00.293' AS DateTime), 1, N'190100002', N'Fixo da Silva')
SET IDENTITY_INSERT [dbo].[TB_PREENCHIMENTO_FORMULARIO] OFF
SET IDENTITY_INSERT [dbo].[TB_STATUS_FORMULARIO] ON 

INSERT [dbo].[TB_STATUS_FORMULARIO] ([ID], [NOME], [INICIAL], [RETORNO], [ENVIAR_EMAIL], [TITULO_EMAIL], [CORPO_EMAIL], [ID_FORMULARIO]) VALUES (1, N'Inicial', 1, 0, 0, NULL, NULL, 1)
INSERT [dbo].[TB_STATUS_FORMULARIO] ([ID], [NOME], [INICIAL], [RETORNO], [ENVIAR_EMAIL], [TITULO_EMAIL], [CORPO_EMAIL], [ID_FORMULARIO]) VALUES (2, N'Em Atendimento', 0, 0, 0, NULL, NULL, 1)
INSERT [dbo].[TB_STATUS_FORMULARIO] ([ID], [NOME], [INICIAL], [RETORNO], [ENVIAR_EMAIL], [TITULO_EMAIL], [CORPO_EMAIL], [ID_FORMULARIO]) VALUES (3, N'Cancelado', 0, 0, 0, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[TB_STATUS_FORMULARIO] OFF
SET IDENTITY_INSERT [dbo].[TB_TIPO_COMPONENTE] ON 

INSERT [dbo].[TB_TIPO_COMPONENTE] ([ID], [CODIGO], [NOME]) VALUES (1, 1, N'TextBox')
INSERT [dbo].[TB_TIPO_COMPONENTE] ([ID], [CODIGO], [NOME]) VALUES (2, 2, N'DropDownList')
INSERT [dbo].[TB_TIPO_COMPONENTE] ([ID], [CODIGO], [NOME]) VALUES (3, 3, N'TextArea')
SET IDENTITY_INSERT [dbo].[TB_TIPO_COMPONENTE] OFF
SET IDENTITY_INSERT [dbo].[TB_TIPO_LISTA] ON 

INSERT [dbo].[TB_TIPO_LISTA] ([ID], [NOME], [ID_PAI]) VALUES (1, N'Unidade', NULL)
INSERT [dbo].[TB_TIPO_LISTA] ([ID], [NOME], [ID_PAI]) VALUES (2, N'Departamento', 1)
INSERT [dbo].[TB_TIPO_LISTA] ([ID], [NOME], [ID_PAI]) VALUES (3, N'Sexo', NULL)
SET IDENTITY_INSERT [dbo].[TB_TIPO_LISTA] OFF
SET IDENTITY_INSERT [dbo].[TB_TIPO_VALOR_COMPONENTE] ON 

INSERT [dbo].[TB_TIPO_VALOR_COMPONENTE] ([ID], [CODIGO], [NOME]) VALUES (1, 1, N'Texto')
INSERT [dbo].[TB_TIPO_VALOR_COMPONENTE] ([ID], [CODIGO], [NOME]) VALUES (2, 2, N'Inteiro')
INSERT [dbo].[TB_TIPO_VALOR_COMPONENTE] ([ID], [CODIGO], [NOME]) VALUES (3, 3, N'Real')
SET IDENTITY_INSERT [dbo].[TB_TIPO_VALOR_COMPONENTE] OFF
SET IDENTITY_INSERT [dbo].[TB_TRAMITACAO] ON 

INSERT [dbo].[TB_TRAMITACAO] ([ID], [USER_NAME_RESPONSAVEL], [NOME_RESPONSAVEL], [DATA_HORA], [OBSERVACAO], [ID_PREENCHIMENTO_FORMULARIO], [ID_STATUS_ORIGEM], [ID_STATUS_DESTINO], [LOG_ALTERACAO_COMPONENTES]) VALUES (1, N'FIXO', N'Fixo da Silva', CAST(N'2019-01-09T00:17:45.973' AS DateTime), N'Teste', 1, NULL, 1, NULL)
INSERT [dbo].[TB_TRAMITACAO] ([ID], [USER_NAME_RESPONSAVEL], [NOME_RESPONSAVEL], [DATA_HORA], [OBSERVACAO], [ID_PREENCHIMENTO_FORMULARIO], [ID_STATUS_ORIGEM], [ID_STATUS_DESTINO], [LOG_ALTERACAO_COMPONENTES]) VALUES (2, N'FIXO', N'Fixo da Silva', CAST(N'2019-01-09T00:19:00.397' AS DateTime), N'AAA', 2, NULL, 1, NULL)
INSERT [dbo].[TB_TRAMITACAO] ([ID], [USER_NAME_RESPONSAVEL], [NOME_RESPONSAVEL], [DATA_HORA], [OBSERVACAO], [ID_PREENCHIMENTO_FORMULARIO], [ID_STATUS_ORIGEM], [ID_STATUS_DESTINO], [LOG_ALTERACAO_COMPONENTES]) VALUES (5, N'FIXO', N'Fixo da Silva', CAST(N'2019-01-09T00:34:01.750' AS DateTime), N'Atendimento iniciado', 1, 1, 2, NULL)
SET IDENTITY_INSERT [dbo].[TB_TRAMITACAO] OFF
SET IDENTITY_INSERT [dbo].[TB_VALIDADOR_COMPONENTE] ON 

INSERT [dbo].[TB_VALIDADOR_COMPONENTE] ([ID], [CODIGO], [NOME]) VALUES (1, 1, N'CPF')
INSERT [dbo].[TB_VALIDADOR_COMPONENTE] ([ID], [CODIGO], [NOME]) VALUES (2, 2, N'CNPJ')
INSERT [dbo].[TB_VALIDADOR_COMPONENTE] ([ID], [CODIGO], [NOME]) VALUES (3, 3, N'CPF/CNPJ')
SET IDENTITY_INSERT [dbo].[TB_VALIDADOR_COMPONENTE] OFF
SET IDENTITY_INSERT [dbo].[TBR_COMPONENTE_PREENCHIMENTO_FORMULARIO] ON 

INSERT [dbo].[TBR_COMPONENTE_PREENCHIMENTO_FORMULARIO] ([ID], [USER_NAME_RESPONSAVEL], [ID_COMPONENTE], [ID_PREENCHIMENTO_FORMULARIO], [ID_ITEM_LISTA], [VALOR_VARCHAR], [VALOR_INT], [VALOR_REAL], [VALOR_DATETIME]) VALUES (1, N'FIXO', 1, 1, NULL, N'Nome 1', NULL, NULL, NULL)
INSERT [dbo].[TBR_COMPONENTE_PREENCHIMENTO_FORMULARIO] ([ID], [USER_NAME_RESPONSAVEL], [ID_COMPONENTE], [ID_PREENCHIMENTO_FORMULARIO], [ID_ITEM_LISTA], [VALOR_VARCHAR], [VALOR_INT], [VALOR_REAL], [VALOR_DATETIME]) VALUES (2, N'FIXO', 2, 1, NULL, N'075.677.284-27', NULL, NULL, NULL)
INSERT [dbo].[TBR_COMPONENTE_PREENCHIMENTO_FORMULARIO] ([ID], [USER_NAME_RESPONSAVEL], [ID_COMPONENTE], [ID_PREENCHIMENTO_FORMULARIO], [ID_ITEM_LISTA], [VALOR_VARCHAR], [VALOR_INT], [VALOR_REAL], [VALOR_DATETIME]) VALUES (3, N'FIXO', 3, 1, NULL, N'17/06/1991', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBR_COMPONENTE_PREENCHIMENTO_FORMULARIO] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TB_FORMU__0ED8C9A69C9531A5]    Script Date: 09/01/2019 01:43:42 ******/
ALTER TABLE [dbo].[TB_FORMULARIO] ADD UNIQUE NONCLUSTERED 
(
	[SIGLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TB_FORMU__CC87E126F9B7033D]    Script Date: 09/01/2019 01:43:42 ******/
ALTER TABLE [dbo].[TB_FORMULARIO] ADD UNIQUE NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TB_MASCA__CC87E126481A0273]    Script Date: 09/01/2019 01:43:42 ******/
ALTER TABLE [dbo].[TB_MASCARA_COMPONENTE] ADD UNIQUE NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TB_PREEN__3169A709313E91C7]    Script Date: 09/01/2019 01:43:42 ******/
ALTER TABLE [dbo].[TB_PREENCHIMENTO_FORMULARIO] ADD UNIQUE NONCLUSTERED 
(
	[ID_BUSCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [INDEX_GET_TB_DINAMICA_1]    Script Date: 09/01/2019 01:43:42 ******/
CREATE NONCLUSTERED INDEX [INDEX_GET_TB_DINAMICA_1] ON [dbo].[TB_PREENCHIMENTO_FORMULARIO]
(
	[ID_FORMULARIO] ASC,
	[USER_NAME_CRIADOR] ASC,
	[DATA_HORA] ASC
)
INCLUDE ( 	[ID],
	[ID_BUSCA],
	[NOME_RESPONSAVEL]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TB_TIPO___CC87E126930A02C2]    Script Date: 09/01/2019 01:43:42 ******/
ALTER TABLE [dbo].[TB_TIPO_COMPONENTE] ADD UNIQUE NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TB_TIPO___CC87E126CC3A1A7A]    Script Date: 09/01/2019 01:43:42 ******/
ALTER TABLE [dbo].[TB_TIPO_VALOR_COMPONENTE] ADD UNIQUE NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [INDEX_GET_TB_DINAMICA_0]    Script Date: 09/01/2019 01:43:42 ******/
CREATE NONCLUSTERED INDEX [INDEX_GET_TB_DINAMICA_0] ON [dbo].[TB_TRAMITACAO]
(
	[ID_STATUS_DESTINO] ASC
)
INCLUDE ( 	[ID],
	[ID_PREENCHIMENTO_FORMULARIO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [INDEX_GET_TB_DINAMICA_2]    Script Date: 09/01/2019 01:43:42 ******/
CREATE NONCLUSTERED INDEX [INDEX_GET_TB_DINAMICA_2] ON [dbo].[TB_TRAMITACAO]
(
	[ID_PREENCHIMENTO_FORMULARIO] ASC
)
INCLUDE ( 	[ID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TB_VALID__CC87E12633889EA9]    Script Date: 09/01/2019 01:43:42 ******/
ALTER TABLE [dbo].[TB_VALIDADOR_COMPONENTE] ADD UNIQUE NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [INDEX_GET_TB_DINAMICA_3]    Script Date: 09/01/2019 01:43:42 ******/
CREATE NONCLUSTERED INDEX [INDEX_GET_TB_DINAMICA_3] ON [dbo].[TBR_COMPONENTE_PREENCHIMENTO_FORMULARIO]
(
	[ID_PREENCHIMENTO_FORMULARIO] ASC
)
INCLUDE ( 	[ID_COMPONENTE],
	[VALOR_VARCHAR]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_ARQUIVO_TRAMITACAO]  WITH CHECK ADD FOREIGN KEY([ID_TRAMITACAO])
REFERENCES [dbo].[TB_TRAMITACAO] ([ID])
GO
ALTER TABLE [dbo].[TB_COMPONENTE]  WITH CHECK ADD FOREIGN KEY([ID_FORMULARIO])
REFERENCES [dbo].[TB_FORMULARIO] ([ID])
GO
ALTER TABLE [dbo].[TB_COMPONENTE]  WITH CHECK ADD FOREIGN KEY([ID_MASCARA_COMPONENTE])
REFERENCES [dbo].[TB_MASCARA_COMPONENTE] ([ID])
GO
ALTER TABLE [dbo].[TB_COMPONENTE]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_COMPONENTE])
REFERENCES [dbo].[TB_TIPO_COMPONENTE] ([ID])
GO
ALTER TABLE [dbo].[TB_COMPONENTE]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_VALOR_COMPONENTE])
REFERENCES [dbo].[TB_TIPO_VALOR_COMPONENTE] ([ID])
GO
ALTER TABLE [dbo].[TB_COMPONENTE]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_LISTA])
REFERENCES [dbo].[TB_TIPO_LISTA] ([ID])
GO
ALTER TABLE [dbo].[TB_COMPONENTE]  WITH CHECK ADD FOREIGN KEY([ID_VALIDADOR_COMPONENTE])
REFERENCES [dbo].[TB_VALIDADOR_COMPONENTE] ([ID])
GO
ALTER TABLE [dbo].[TB_FLUXO_STATUS]  WITH CHECK ADD FOREIGN KEY([ID_STATUS_ORIGEM])
REFERENCES [dbo].[TB_STATUS_FORMULARIO] ([ID])
GO
ALTER TABLE [dbo].[TB_FLUXO_STATUS]  WITH CHECK ADD FOREIGN KEY([ID_STATUS_DESTINO])
REFERENCES [dbo].[TB_STATUS_FORMULARIO] ([ID])
GO
ALTER TABLE [dbo].[TB_FUNCIONALIDADE]  WITH CHECK ADD FOREIGN KEY([NOME_MODULO])
REFERENCES [dbo].[TB_MODULO] ([NOME])
GO
ALTER TABLE [dbo].[TB_ITEM_LISTA]  WITH CHECK ADD FOREIGN KEY([ID_PAI])
REFERENCES [dbo].[TB_ITEM_LISTA] ([ID])
GO
ALTER TABLE [dbo].[TB_ITEM_LISTA]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_LISTA])
REFERENCES [dbo].[TB_TIPO_LISTA] ([ID])
GO
ALTER TABLE [dbo].[TB_PERMISSAO_COMPONENTE]  WITH CHECK ADD FOREIGN KEY([ID_COMPONENTE])
REFERENCES [dbo].[TB_COMPONENTE] ([ID])
GO
ALTER TABLE [dbo].[TB_PERMISSAO_COMPONENTE]  WITH CHECK ADD FOREIGN KEY([ID_STATUS])
REFERENCES [dbo].[TB_STATUS_FORMULARIO] ([ID])
GO
ALTER TABLE [dbo].[TB_PERMISSAO_COMPONENTE]  WITH CHECK ADD FOREIGN KEY([NOME_GRUPO])
REFERENCES [dbo].[TB_GRUPO] ([NOME])
GO
ALTER TABLE [dbo].[TB_PERMISSAO_EXIBICAO]  WITH CHECK ADD FOREIGN KEY([ID_FORMULARIO])
REFERENCES [dbo].[TB_FORMULARIO] ([ID])
GO
ALTER TABLE [dbo].[TB_PERMISSAO_EXIBICAO]  WITH CHECK ADD FOREIGN KEY([NOME_GRUPO])
REFERENCES [dbo].[TB_GRUPO] ([NOME])
GO
ALTER TABLE [dbo].[TB_PERMISSAO_FUNCIONALIDADE]  WITH CHECK ADD FOREIGN KEY([CAMINHO_FUNCIONALIDADE])
REFERENCES [dbo].[TB_FUNCIONALIDADE] ([CAMINHO])
GO
ALTER TABLE [dbo].[TB_PERMISSAO_FUNCIONALIDADE]  WITH CHECK ADD FOREIGN KEY([NOME_GRUPO])
REFERENCES [dbo].[TB_GRUPO] ([NOME])
GO
ALTER TABLE [dbo].[TB_PERMISSAO_STATUS]  WITH CHECK ADD FOREIGN KEY([ID_STATUS])
REFERENCES [dbo].[TB_STATUS_FORMULARIO] ([ID])
GO
ALTER TABLE [dbo].[TB_PERMISSAO_STATUS]  WITH CHECK ADD FOREIGN KEY([NOME_GRUPO])
REFERENCES [dbo].[TB_GRUPO] ([NOME])
GO
ALTER TABLE [dbo].[TB_PREENCHIMENTO_FORMULARIO]  WITH CHECK ADD FOREIGN KEY([ID_FORMULARIO])
REFERENCES [dbo].[TB_FORMULARIO] ([ID])
GO
ALTER TABLE [dbo].[TB_STATUS_FORMULARIO]  WITH CHECK ADD FOREIGN KEY([ID_FORMULARIO])
REFERENCES [dbo].[TB_FORMULARIO] ([ID])
GO
ALTER TABLE [dbo].[TB_TIPO_LISTA]  WITH CHECK ADD FOREIGN KEY([ID_PAI])
REFERENCES [dbo].[TB_TIPO_LISTA] ([ID])
GO
ALTER TABLE [dbo].[TB_TRAMITACAO]  WITH CHECK ADD FOREIGN KEY([ID_PREENCHIMENTO_FORMULARIO])
REFERENCES [dbo].[TB_PREENCHIMENTO_FORMULARIO] ([ID])
GO
ALTER TABLE [dbo].[TB_TRAMITACAO]  WITH CHECK ADD FOREIGN KEY([ID_STATUS_ORIGEM])
REFERENCES [dbo].[TB_STATUS_FORMULARIO] ([ID])
GO
ALTER TABLE [dbo].[TB_TRAMITACAO]  WITH CHECK ADD FOREIGN KEY([ID_STATUS_DESTINO])
REFERENCES [dbo].[TB_STATUS_FORMULARIO] ([ID])
GO
ALTER TABLE [dbo].[TBR_COMPONENTE_PREENCHIMENTO_FORMULARIO]  WITH CHECK ADD FOREIGN KEY([ID_COMPONENTE])
REFERENCES [dbo].[TB_COMPONENTE] ([ID])
GO
ALTER TABLE [dbo].[TBR_COMPONENTE_PREENCHIMENTO_FORMULARIO]  WITH CHECK ADD FOREIGN KEY([ID_ITEM_LISTA])
REFERENCES [dbo].[TB_ITEM_LISTA] ([ID])
GO
ALTER TABLE [dbo].[TBR_COMPONENTE_PREENCHIMENTO_FORMULARIO]  WITH CHECK ADD FOREIGN KEY([ID_PREENCHIMENTO_FORMULARIO])
REFERENCES [dbo].[TB_PREENCHIMENTO_FORMULARIO] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[PROC_VERIFICAR_BLOQUEIO_FORM]    Script Date: 09/01/2019 01:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------------------------------------------------------------------------
CREATE PROCEDURE [dbo].[PROC_VERIFICAR_BLOQUEIO_FORM](@idFormulario INT, @userNameUsuarioLogado VARCHAR(50), @nomeUsuarioLogado VARCHAR(50), @bloquearForm BIT, @limiteTempoFormAberto INT, @result BIT OUT)
AS
BEGIN
	DECLARE @userNameResponsavel VARCHAR(50)
	DECLARE @nomeResponsavel VARCHAR(50)
	DECLARE @dataHoraResponsavel DATETIME
	DECLARE @tempoFormAberto INT--Minutos
	
	SET @result = 0

	SELECT @userNameResponsavel = USER_NAME_RESPONSAVEL,
	@nomeResponsavel = NOME_RESPONSAVEL,
	@dataHoraResponsavel = DATA_HORA_RESPONSAVEL
		FROM TB_PREENCHIMENTO_FORMULARIO
		WHERE ID = @idFormulario

	IF (@userNameResponsavel IS NULL AND @nomeResponsavel IS NULL AND @dataHoraResponsavel IS NULL) BEGIN
		IF (@bloquearForm = 1) BEGIN
			IF (@userNameUsuarioLogado IS NOT NULL AND @nomeUsuarioLogado IS NOT NULL) BEGIN
				UPDATE TB_PREENCHIMENTO_FORMULARIO
				SET USER_NAME_RESPONSAVEL = @userNameUsuarioLogado,
				NOME_RESPONSAVEL = @nomeUsuarioLogado,
				DATA_HORA_RESPONSAVEL = GETDATE()
				WHERE ID = @idFormulario 
				SET @result = 1
			END
		END
		ELSE BEGIN
			SET @result = 1
		END
	END
	ELSE BEGIN
		IF (@userNameResponsavel = @userNameUsuarioLogado) BEGIN
			IF (@bloquearForm = 1) BEGIN
				UPDATE TB_PREENCHIMENTO_FORMULARIO
				SET DATA_HORA_RESPONSAVEL = GETDATE()
				WHERE ID = @idFormulario 
			END
			ELSE BEGIN
				UPDATE TB_PREENCHIMENTO_FORMULARIO
				SET USER_NAME_RESPONSAVEL = NULL,
				NOME_RESPONSAVEL = NULL,
				DATA_HORA_RESPONSAVEL = NULL
				WHERE ID = @idFormulario 
			END
			SET @result = 1	
		END
		ELSE BEGIN
			SET @tempoFormAberto = DATEDIFF(MINUTE, @dataHoraResponsavel, GETDATE())
			IF (@tempoFormAberto > @limiteTempoFormAberto) BEGIN
				IF (@bloquearForm = 1) BEGIN
					IF (@userNameUsuarioLogado IS NOT NULL AND @nomeUsuarioLogado IS NOT NULL) BEGIN
						UPDATE TB_PREENCHIMENTO_FORMULARIO
						SET USER_NAME_RESPONSAVEL = @userNameUsuarioLogado,
						NOME_RESPONSAVEL = @nomeUsuarioLogado,
						DATA_HORA_RESPONSAVEL = GETDATE()
						WHERE ID = @idFormulario 
						SET @result = 1
					END
				END
				ELSE BEGIN
					UPDATE TB_PREENCHIMENTO_FORMULARIO
					SET USER_NAME_RESPONSAVEL = NULL,
					NOME_RESPONSAVEL = NULL,
					DATA_HORA_RESPONSAVEL = NULL
					WHERE ID = @idFormulario 
					SET @result = 1
				END
			END
		END
	END
END
GO
USE [master]
GO
